
# https://stackoverflow.com/questions/34119866/setting-up-and-using-meld-as-your-git-difftool-and-mergetool
# Add the following to your .gitconfig file.
[diff]
    tool = meld
[difftool]
    prompt = false
#[difftool "meld"]
#    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"


# just resolve the conflicts highlighted in red in the middle pan and save! 

# https://stackoverflow.com/questions/4220416/can-i-specify-multiple-users-for-myself-in-gitconfig
[user]
	name = Nicholas Dietz
	email = github@poleguy.com
[credential]
	helper = store
#[push]
#	default = simple
	# why:
	# https://git-scm.com/docs/git-config
	# This mode is the default since Git 2.0, and is the safest option suited for beginners.


# https://utf9k.net/blog/conditional-gitconfig/
# try to determine user by home directory username
[includeIf "gitdir:dietzn/**"]
	name = Nick Dietz
	email = dietz_nick@shure.com

# https://stackoverflow.com/questions/72078027/git-user-depending-on-remote-url
# we're at git 2.34.1, so this isn't an option:
#[includeIf hasconfig:remote.*.url:**bitbucket.shure.com/**"]


