
# https://stackoverflow.com/questions/34119866/setting-up-and-using-meld-as-your-git-difftool-and-mergetool
# Add the following to your .gitconfig file.
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"


# just resolve the conflicts highlighted in red in the middle pan and save! 

# https://stackoverflow.com/questions/4220416/can-i-specify-multiple-users-for-myself-in-gitconfig
[user]
	name = Nicholas Dietz
	email = github@poleguy.com
[credential]
	helper = cache

# https://utf9k.net/blog/conditional-gitconfig/
[includeIf "gitdir:~/fpga-data"]
	name = Nick Dietz
	email = dietz_nick@shure.com

